/* Tamaño letra*/

.fnt-xs{
    font-size: 8px;
}

.fnt-s{
    font-size: 12px;
}

.fnt-b{
    font-size: 16px;
}

.fnt-m{
    font-size: 18px;
}

.fnt-l{
    font-size: 20px;
}

.fnt-xl{
    font-size: 22px;
}

.fnt-32{
    font-size: 32px;
}

.txt-center{
    text-align: center;
}

.txt-right{
    text-align: right;
}

.txt-left{
    text-align: left;
}

.line-small{
    line-height: 1.2;
}

.line-normal{
    line-height: 1.4;
}

/*Desplazamiento texto*/

.txt-rigth-5{
    text-indent: 5px;
}

.txt-rigth-20{
    text-indent: 20px;
}